@import '~bootstrap';
@import '~font-awesome';
@import './autocomplete.css';

body {
    position: relative;
    min-height: 45rem;
    padding-bottom: 80px;
    padding-top: 80px;
}

div.row {
    padding: 5px;
}

li {
    list-style: none;
    margin-top: 20px;
}
#loader {
    margin: auto;
    position: absolute;
    left: 50%;
    display: none;
}
/* List page */

div.title h1 {
    text-decoration: underline;
    text-underline-position: under;
}

div.banner {
    margin-top: 25px;
    height: auto;
}

div.banner div.resume {
    position: absolute;
    left: 50px;
    bottom: 50px;
    color: white;
}
div.banner div.desc {
    position: relative;
    left: 50px;
    top: 185px;
}

div.banner img {
    position: center;
    max-width: 100%;
    max-height: 100%;
}

#filters {
    padding: 20px;
    margin-top: 50px;
}

#filters ul {
    border: solid grey;
    padding-bottom: 50px;
}

#movie_list {
    margin-top: 50px;
}

#movie_list li {
    background: #eae8e8;
    padding: 15px;
}

div.detail a {
    border-radius: 25px;
}

div.detail-modal {
    padding: 25px;
}

#detailModal .modal-dialog {
    max-width: 50%;
    height: auto;
}

div.rating {
    padding-left: 25px;
}

div.rating span.fa {
    color: grey;
}
div.rating span.checked {
    color: #007bff;
}
div.rating span.rate b {
    background: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

div.detail-modal div.rating {
    padding-left: 0;
}
div.detail-modal span.checked {
    color: #e0a800;
}

